@import "~style/utils/variables.sass"

.event-card
  display: block
  padding: 35px 30px
  border-bottom: $border-thickness-small solid $main-medium-gray

.no-results
  font-weight: 700
  margin: 50px 0
  text-align: center;