@import "~style/utils/variables.sass"
@import "~style/utils/mixins.sass"

.loading-more-events-wrapper
  padding: 50px

.container
  background-color: $main-medium-gray
  min-height: 100vh

  .filters-wrapper
    width: 100%
    height: $event-filters-height
    background-color: $main-white
    position: fixed
    top: $header-height
    z-index: 1
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.6)

  .load-more-btn
    text-align: center
    padding: 30px 0

    button
      @include button($main-green, $main-white, $main-green)
      text-transform: uppercase
      font-size: 1em
