body
  color: $main-black;
  max-width: $max-width;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto;
  padding: 0;
  background-color: $main-pink;

input, textarea
  border-radius: 5px;
  padding: 4px 0;
  border: 1px solid $main-medium-gray;
  background-color: $main-light-gray;
  font-size: 15px;
  line-height: 1;
  color: $main-dark-gray;
  box-sizing: border-box;
  padding: 12px 20px 12px 10px;
  width: 100%;

.fa
  font-family: 'FontAwesome' !important;

.float-right
  float: right;

::-webkit-input-placeholder
    color: $main-dark-gray;
