@import "~style/utils/variables.sass"
@import "~style/utils/mixins.sass"

.filters-border
  max-width: $max-width
  padding-top: $gutter-margin-mobile
  margin: 0 auto
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-content: space-between
  align-items: flex-start

  .event-search-input
    margin-top: 2px
    flex: 7 1 10%
    padding-left: $gutter-margin-mobile

  .event-location-filter
    flex: 3 1 10%
    align-self: flex-start
    display: flex
    justify-content: flex-end
    padding-left: $gutter-margin-mobile

  .event-date-filter
    margin-top: $gutter-margin-mobile
    flex: 4 1 100%
    align-self: auto
    @include border-line(top)
    padding: 5px 0

    @media only screen and (max-width: $max-width)
      margin-right: $gutter-margin-mobile

    @media only screen and (min-width: $break-max-md)
      flex: inherit
      margin-top: auto
      margin-bottom: auto
      padding: 0px
      border: none
