@import "~style/utils/variables.sass"

@mixin border-line()
  padding-bottom: 10px
  border-bottom: $border-thickness-small solid $main-medium-gray

.filters-border
  display: flex
  align-items: center
  justify-content: space-between
  max-width: $max-width
  background-color: $main-white
  margin: 0 auto
  padding: 10px 0

  .left-wrapper
    max-width: 300px

  .right-wrapper
    display: flex

    &>:first-child
      margin-right: 10px

    &>:last-child
      flex: none


// Breakpoints
@media only screen and (max-width: $break-min-md)
  .filters-border
    flex-direction: column

    .search-wrapper
      order: 1
      @include border-line()

    .calendar-wrapper
      order: 3
      display: block

    .location-wrapper
      order: 2
      @include border-line()
