@import "~style/utils/variables.sass"
@import "~style/utils/mixins.sass"

.container
  height: 100%
  max-width: $max-width
  margin: 0 auto 

.content-wrapper
  background-color: $main-white
  max-width: $max-width
  margin: 0 auto
