@import "~style/utils/variables.sass"

.container
  height: 100%

.content-wrapper
  background-color: $main-white

// Breakpoints
@media only screen and (max-width: $break-max-lg)
  .content-wrapper
    border-radius: 0
