@import "~style/utils/variables.sass"
@import "~style/utils/mixins.sass"

.container
  height: 100%
  max-width: 100%
  margin: 0 auto

.content-wrapper
  background-color: $main-white
  max-width: 100%
  margin: 0 auto
