// Layout
$max-width: 1080px
$header-height: 75px
$sub-header-height-deskop: 65px
$event-filters-height: 110px
$nav-height: 185px
$mobile-nav-height: 140px

// Spacing
$base-padding: 15px
$base-spacing: 40px
$gutter-margin: 20px
$gutter-margin-mobile: 10px

// Border
$border-radius-small: 3px
$border-radius-normal: 5px

$border-thickness-small: 1px
$border-thickness-normal: 2px

// Color - based on Devin's color palette
$main-black: #010101
$main-white: #ffffff
$main-pink: #ec3659
$main-green: #1cb09b
$main-dark-gray: #3f474d
$main-medium-dark-gray: #b1b1b1
$main-medium-gray: #e6e6e6
$main-medium-light-gray: #f3f3f3
$main-light-gray: #fcfffc
$main-lighter-gray: #f7f5f5

// Color - Social media
$facebook-blue: #3b5998
$twitter-blue: #00aced

// Breakpoints
$break-min-xs: 320px
$break-min-sm: 520px
$break-min-md: 768px
$break-min-lg: 940px
$break-min-xl: 1200px

$break-max-xl: $break-min-xl - 1px
$break-max-lg: $break-min-lg - 1px
$break-max-md: $break-min-md - 1px
$break-max-sm: $break-min-sm - 1px
$break-max-xs: $break-min-xs - 1px
