// Layout
$max-width: 720px

// Spacing
$base-spacing: 40px

// Color - based on Devin's color palette
$main-black: #010101
$main-white: #ffffff
$main-pink: #ec3659
$main-green: #1cb09b
$main-dark-gray: #3f474d
$main-medium-gray: #e6e6e6
$main-light-gray: #fcfffc

// Breakpoints
$break-min-xs: 320px
$break-min-sm: 480px
$break-min-md: 768px
$break-min-lg: 992px
$break-min-lg: 1200px

$break-max-lg: 1200px
$break-max-lg: 992px
$break-max-md: 768px
$break-max-sm: 480px
$break-max-xs: 320px
