@import "~style/utils/variables.sass"

.thank-you-wrapper
  margin-top: $header-height
  display: flex
  align-items: center
  justify-content: center
  min-height: 80vh

  .text-wrapper
    text-align: center

    h1
      padding-bottom: 40px
      font-size: large
      font-weight: 700
