@import "~style/utils/variables.sass"
@import "~style/utils/mixins.sass"

#addEventForm
  margin: auto
  text-align: left
  @include popover-wrapper(300px, 50px, right, 7px, 40px, $main-medium-light-gray)
  @media only screen and (max-width: $break-min-sm)
    @include popover-wrapper(calc(100% - 45px), 50px, right, 7px, 40px, $main-medium-light-gray)
    position: absolute
    margin: 0
    top: 68px
    right: 5px
    left: 5px

  input, textarea
    background-color: $main-white
    margin-top: 5px

  #buttons-container
    display: flex

    input[type="submit"]
      flex: 3 0 0
      -webkit-appearance: none
      cursor: pointer
      font-weight: 700
      text-transform: uppercase
      @include button($main-green, $main-white, $main-green)

    .cancel-btn
      flex: 1 0 0
      @include button($main-medium-gray, $main-black, $main-medium-gray)
      font-size: 15px
      text-transform: uppercase
      margin-left: $gutter-margin
      text-align: center

  .error
    color: red
    padding-top: $base-padding
    &:empty
      display: none

  .fieldset:not(:last-child)
    margin: $base-spacing/2 0

    label
      display: block
      font-weight: 700

    &:first-child
      margin-top: 0
