@import "~style/utils/variables.sass"

#addEventForm
  background: $main-white
  padding: $base-spacing

  .error
    color: red
  .fieldset
    margin: $base-spacing 0

    &:first-child
      margin-top: 0
