@import "~style/utils/variables.sass"
@import "~style/utils/mixins.sass"

#addEventForm
  max-width: $max-width
  margin: 0 auto
  padding: $base-spacing

  h1
    font-size: 1.4em
    font-weight: 700

  label
    font-size: 0.8em

  textarea
    resize: vertical

  #buttons-container
    display: flex

    input[type="submit"]
      flex: 3 0 0
      -webkit-appearance: none
      cursor: pointer
      font-weight: 700
      text-transform: uppercase
      @include button($main-green, $main-white, $main-green)

    .cancel-btn
      flex: 1 0 0
      @include button($main-medium-gray, $main-black, $main-medium-gray)
      font-size: 15px
      text-transform: uppercase
      margin-left: $gutter-margin
      text-align: center

  .error
    color: red

  .fieldset:not(:last-child)
    margin: $base-spacing 0

    label
      display: inline-block
      margin-bottom: 5px
      font-weight: 700

    &:first-child
      margin-top: 0
