@import "~style/utils/variables.sass"
@import "~style/utils/mixins.sass"

.header
  display: flex
  flex-direction: row
  margin: $gutter-margin-mobile
  justify-content: center
  align-items: center
  vertical-align: middle

  .header-left-section,
  .header-right-section
    flex: 1 1 40%

  .header-left-section
    .resistance-logo
      width: 100%

  .header-right-section
    position: relative
    text-align: right
