// Layout
$max-width: 720px;

// Color - based on Devin's color palette
$main-black: #010101;
$main-white: #ffffff;
$main-pink: #ec3659;
$main-green: #1cb09b;
$main-dark-gray: #3f474d;
$main-medium-gray: #e6e6e6;
$main-light-gray: #fcfffc;
