@import "~style/utils/variables.sass"

.btn-add-events
  color: $main-white
  background-color: $main-pink
  border: $border-thickness-normal solid $main-white
  border-radius: $border-radius-normal
  text-decoration: none;
  padding: 10px 15px
  font-weight: 700

  &:hover
    border-color: $main-medium-gray
    color: $main-medium-gray
