@import "~style/utils/variables.sass"
@import "~style/utils/mixins.sass"

.location-wrapper
  display: flex
  align-items: center
  position: relative

  .toolbar-btn
    display: flex
    align-items: center
    font-size: 0.8em
    background: none
    border: 0
    font-weight: 700
    cursor: pointer
    text-align: left

    &>:first-child
      width: 80px

    &>span
      flex: none

  .popover-wrapper
    @include popover-wrapper(300px, 38px, right, 0, 55px)
    margin-right: 5px

    .input-group
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 15px

      label
        flex: 1
        font-size: 0.8em
        font-weight: 700

      input, select
        flex: 2

      input
        margin-left: 15px

      select
        padding: 10px
        height: 40px
        font-size: 15px
        color: $main-dark-gray
        background: $main-medium-gray
        border: $border-thickness-small solid darkgrey

    .form-btns
      display: flex

      button
        flex: 1
        font-size: 0.8em
        margin-top: 10px

      .clear-btn
        @include button($main-dark-gray, $main-white, $main-dark-gray)
        margin-right: 10px

      .submit-btn
        @include button($main-green, $main-white, $main-green)

// Breakpoints
@media only screen and (max-width: $break-max-md)
  .location-wrapper
    .popover-wrapper
      @include popover-wrapper(300px, 52px, right, 0, 79px)
